# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
include/config_db.php
*.ics
onderhoud/local_preekrooster.xlsx
onderhoud/local_collecterooster.xlsx
onderhoud/ambtsdragers.csv
scipio/dump.txt

laposta/IcoontjesKoningskerkWebsite.zip
laposta/sjablonen/basis.png
laposta/sjablonen/collecte.jpg
laposta/sjablonen/collecte_groot.jpg
laposta/sjablonen/kerkdienst.png
laposta/sjablonen/kerkdienst_groot.png
laposta/sjablonen/kerkdienst_groot_transparent.png
laposta/sjablonen/kerkelijk_bureau.png
laposta/sjablonen/kerkelijk_bureau_groot_transparant.png
laposta/sjablonen/kerkenraad.png
laposta/sjablonen/kerkenraad_groot_transparant.png
laposta/sjablonen/leefmee.png
laposta/sjablonen/Meeleven.png
laposta/sjablonen/meeleven_groot_transparent.png
laposta/sjablonen/Overdenking.png
laposta/sjablonen/prikbord.png
laposta/sjablonen/prikbord_groot_transparant.png
laposta/sjablonen/TestVoorOpmaak.html
laposta/sjablonen/templates.txt
